// fonts:
@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap')
$logo-font: Rubik Doodle Shadow

//font-size
$fs1r: 1rem
$fs3r: 3rem

// colors:

$nalLinkColor: #e6e5fd
$white: #fff
$corpRed: #ff3301

//margin:

$mg-btm1r: 1rem
$mg-btm2r: 2rem
